{% extends 'base.html.twig' %}

{% block body %}
	<div class="col-md-12">
		<h3 class="form-title">Démarrer une nouvelles vente</h3>
	</div>
	<div class="col-md-12 card-form">
		<form action="{{ path('new_enchere') }}" method="post">
			<div class="col-md-6">
				<div class="col-md-12">
					<h4 class="form-title">Infos Produit </h4>
				</div>
				<div class="col-md-12">
					<div class="col-md-5">
						<label>Produit : </label>
					</div>
					<div class="col-md-7">
						<select name="prod"><br>
							<option></option>
							{% for produit in produits %}
								<option value="{{ produit.id }}">{{ produit.nom }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-md-5">
						<label>Prix de départ de la vente : </label>
					</div>
					<div class="col-md-7">
						<input type="number" name="prix" placeholder="format XX.XX" step="any">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-12">
					<h4 class="form-title">Fournisseur</h4>
				</div>
				<div class="col-md-12">
					<div class="col-md-5">
						<label>ID fournisseur : </label>
					</div>
					<div class="col-md-7">
						<input type="number" name="fourni" id="fourni">
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<input type="hidden" name="datenotif" id="datenotif" value="{{ "now"|date("d/m/Y") }}">
					<input type="hidden" name="datenew" id="datenew" value="">
					<input type="hidden" name="datemid" id="datemid" value="">
					<input type="hidden" name="dateold" id="dateold" value="">
					<input type="hidden" name="fulldate" id="fulldate" value="">

					<script type="text/javascript">
						var currentdate = new Date();
						var ddnew = currentdate.getDate()+5;
						var ddmid = currentdate.getDate()+15;
						var ddold = currentdate.getDate()+21;
						var ddfin = currentdate.getDate()-9;
						var mm = currentdate.getMonth(); //January is 0!
						var yyyy = currentdate.getFullYear();
						var datenew = new Date(yyyy, mm, ddnew);
						var datemid = new Date(yyyy, mm, ddmid);
						var dateold = new Date(yyyy, mm, ddold);
						var fulldate = new Date(yyyy, mm, ddfin);

						$('#datenew').val(datenew);
						$('#datemid').val(datemid);
						$('#dateold').val(dateold);
						$('#fulldate').val(fulldate);
					</script>
					<input type="submit" name="submit" value="Lancez la vente" class="btn btn-primary">
				</div>
				<div class="col-md-4"></div>
			</div>
		</form>
	</div>

{% endblock %}