{% extends 'base.html.twig' %}

{% block body %}

	<div class="col-md-12">
		<div class="col-md-12">
			<h3 class="form-title">Liste des Utilisateurs enregistrer</h3>
			<table id="table">
				<thead>
					<tr>
						<th>Pseudo</th>
						<th>Nom</th>
						<th>Type</th>
						<th>Profil</th>
					</tr>
				</thead>
				<tbody>
					{% for member in members %}
						<tr>
							<th>{{ member.username }}</th>
							<th>{{ member.nom }}</th>
							<th>{{ member.type }}</th>
							<th><a href="{{ path('profil', { 'iduser': member.id }) }}">Fiche membre</a></th>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<script>
				$(document).ready(function() {
				    $('#table').DataTable( {
				        "language": {
				            "lengthMenu": "Montrer _MENU_ résultats par page",
				            "zeroRecords": "Aucun résultat",
				            "info": "Page _PAGE_ sur _PAGES_",
				            "infoEmpty": "Pas de données",
				            "search":         "Chercher:",
				            "paginate": {
						        "first":      "Première",
						        "last":       "Dernière",
						        "next":       "Suivante",
						        "previous":   "Précedente"
						    },
				            "infoFiltered": "(filtrer sur un total de _MAX_ lignes)"
				        }
				    } );
				} );
			</script>
		</div>
	</div>

{% endblock %}